<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">
		<!--linking Bootstrap v 4-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<!--linking Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
		<!--linking css-->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<!--tab title-->
		<title>Eat-Da-Burger!</title>
		<!--linking jQuery-->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!--linking javascript-->
		<script src="/assets/js/burgers.js"></script>

	</head>

	<body>
	
		{{{ body }}}
	
	</body>

</html>