<div class="container">

  <div class="jumbotron">
  
  <h1 class="text-center">Eat-Da-Burger <img src="https://www.materialui.co/materialIcons/maps/restaurant_menu_black_192x192.png" class="img-tiny"> Dinner Party</h1>

  <h2>Invite a Burger</h2>
  
  <h4>Which burgers should we invite to dinner?</h4>
  
  <form class="create-form">

    <div class="form-group">
      <label for="bu">Burger Name:</label><br>
      <input type="text" id="bu" name="burger_name" class="form-control">
    </div>

    <button class="btn btn-warning btn-block" type="submit"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Envelope_font_awesome.svg/2000px-Envelope_font_awesome.svg.png" class="img-teeny"> Send Invite</button>
  </form>
  
  </div><!--jumbotron-->

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   

      <div class="paper"> 

        <h2 class="text-center"><img src="https://cdn2.iconfinder.com/data/icons/maki/100/fast-food-512.png" class="img-tiny"> Burgers On Da Menu!</h2>

        <p class="text-center">These burgers are for the taking.</p>

      </div>

      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
      </ul>
    
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

      <div class="paper">

        <h2 class="text-center">All My Friends Are Dead! <img src="http://downloadicons.net/sites/default/files/skull-and-cross-bones-icons-75643.png" class="img-tiny"></h2>

        <p class="text-center">These burgers have already been taken...and eaten.</p>

      </div>

      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
        {{/each}}
      </ul>
    
    </div>
  
  </div><!--row-->

</div><!--container-->