<li>
	{{burger_name}}

	<button class="btn btn-info change-eat" data-id="{{id}}" data-neweat="{{devour}}">
		{{#if devour}}<span class="glyphicon glyphicon-remove"></span> Devour it!!{{else}}TRASH!{{/if}}
	</button>

</li>