<li>

	{{burger_name}}

	<button class="btn btn-info change-eat" data-id="{{id}}" data-neweat="{{devour}}">
	<span class="glyphicon glyphicon-skull"></span>
		{{#if devour}} Devour it!!{{else}}TRASH!{{/if}}
	</button>

</li>